<a href="https://colab.research.google.com/github/G5277/PCA/blob/main/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

Saving kaggle (1).json to kaggle (1) (1).json

{'kaggle (1) (1).json': b'{"username":"gazal5277","key":"adc0e023d3d4bb8d82c599d4a42fc68b"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d jahias/microsoft-adventure-works-cycles-customer-data

Dataset URL: https://www.kaggle.com/datasets/jahias/microsoft-adventure-works-cycles-customer-data
License(s): CC0-1.0
Downloading microsoft-adventure-works-cycles-customer-data.zip to /content
100% 939k/939k [00:00<00:00, 1.39MB/s]
100% 939k/939k [00:00<00:00, 1.38MB/s]

In [ ]:
!unzip microsoft-adventure-works-cycles-customer-data.zip

Archive:  microsoft-adventure-works-cycles-customer-data.zip
  inflating: AWCustomers.csv
  inflating: AWSales.csv
  inflating: AWTest-Classification.csv
  inflating: AWTest-Regression.csv

In [ ]:
import pandas as pd
df = pd.read_csv('/content/AWCustomers.csv')
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [ ]:
threshold = len(df) * 0.5
df.dropna(thresh=threshold, axis=1, inplace=True)

In [ ]:
?df.dropna

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   FirstName             18361 non-null  object
 2   MiddleName            10572 non-null  object
 3   LastName              18361 non-null  object
 4   AddressLine1          18361 non-null  object
 5   City                  18361 non-null  object
 6   StateProvinceName     18361 non-null  object
 7   CountryRegionName     18361 non-null  object
 8   PostalCode            18361 non-null  object
 9   PhoneNumber           18361 non-null  object
 10  BirthDate             18361 non-null  object
 11  Education             18361 non-null  object
 12  Occupation            18361 non-null  object
 13  Gender                18361 non-null  object
 14  MaritalStatus         18361 non-null  object
 15  HomeOwnerFlag         18361 non-null  int64
 16  NumberCarsOwned       18361 non-null  int64
 17  NumberChildrenAtHome  18361 non-null  int64
 18  TotalChildren         18361 non-null  int64
 19  YearlyIncome          18361 non-null  int64
 20  LastUpdated           18361 non-null  object
dtypes: int64(6), object(15)
memory usage: 2.9+ MB
None

In [ ]:
# Fill missing numerical values with the mean
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

# Fill missing categorical values with the mode
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   FirstName             18361 non-null  object
 2   MiddleName            18361 non-null  object
 3   LastName              18361 non-null  object
 4   AddressLine1          18361 non-null  object
 5   City                  18361 non-null  object
 6   StateProvinceName     18361 non-null  object
 7   CountryRegionName     18361 non-null  object
 8   PostalCode            18361 non-null  object
 9   PhoneNumber           18361 non-null  object
 10  BirthDate             18361 non-null  object
 11  Education             18361 non-null  object
 12  Occupation            18361 non-null  object
 13  Gender                18361 non-null  object
 14  MaritalStatus         18361 non-null  object
 15  HomeOwnerFlag         18361 non-null  int64
 16  NumberCarsOwned       18361 non-null  int64
 17  NumberChildrenAtHome  18361 non-null  int64
 18  TotalChildren         18361 non-null  int64
 19  YearlyIncome          18361 non-null  int64
 20  LastUpdated           18361 non-null  object
dtypes: int64(6), object(15)
memory usage: 2.9+ MB
None

In [ ]:
print(df.head())

  CountryRegionName PostalCode          PhoneNumber   BirthDate  \
0         Australia       2500  1 (11) 500 555-0115  1987-11-13
1            Canada    V9B 2C3         787-555-0136  1972-07-21
2     United States      91791         120-555-0111  1985-11-09
3    United Kingdom     L4 4HB  1 (11) 500 555-0167  1977-10-18
4           Germany      59368  1 (11) 500 555-0113  1975-02-05

         Education    Gender  HomeOwnerFlag  NumberCarsOwned  \
0        Bachelors  0.988466       0.798603         1.892524
1  Partial College  0.988466       0.798603         0.798389
2        Bachelors -1.011669      -1.252187         1.892524
3  Partial College  0.988466       0.798603         0.798389
4  Partial College  0.988466       0.798603        -0.295746

   NumberChildrenAtHome  TotalChildren  YearlyIncome  Occupation_Clerical  \
0             -0.594371       0.161342      0.298555                 True
1              1.163279       1.239753      0.271180                 True
2             -0.594371      -0.917069      0.444261                 True
3              1.163279       1.239753     -0.367401                False
4             -0.594371      -0.917069     -0.682765                False

   Occupation_Management  Occupation_Manual  Occupation_Professional  \
0                  False              False                    False
1                  False              False                    False
2                  False              False                    False
3                  False              False                    False
4                  False              False                    False

   Occupation_Skilled Manual  MaritalStatus_M  MaritalStatus_S
0                      False             True            False
1                      False             True            False
2                      False            False             True
3                       True             True            False
4                       True            False             True

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Example of label encoding
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [ ]:
# Example of one-hot encoding
df = pd.get_dummies(df, columns=['Occupation', 'MaritalStatus'])

In [ ]:
from sklearn.preprocessing import StandardScaler

# Identify all numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

# Initialize a scaler and fit_transform the data
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 18361 non-null  float64
 1   FirstName                  18361 non-null  object
 2   MiddleName                 18361 non-null  object
 3   LastName                   18361 non-null  object
 4   AddressLine1               18361 non-null  object
 5   City                       18361 non-null  object
 6   StateProvinceName          18361 non-null  object
 7   CountryRegionName          18361 non-null  object
 8   PostalCode                 18361 non-null  object
 9   PhoneNumber                18361 non-null  object
 10  BirthDate                  18361 non-null  object
 11  Education                  18361 non-null  object
 12  Gender                     18361 non-null  float64
 13  HomeOwnerFlag              18361 non-null  float64
 14  NumberCarsOwned            18361 non-null  float64
 15  NumberChildrenAtHome       18361 non-null  float64
 16  TotalChildren              18361 non-null  float64
 17  YearlyIncome               18361 non-null  float64
 18  LastUpdated                18361 non-null  object
 19  Occupation_Clerical        18361 non-null  bool
 20  Occupation_Management      18361 non-null  bool
 21  Occupation_Manual          18361 non-null  bool
 22  Occupation_Professional    18361 non-null  bool
 23  Occupation_Skilled Manual  18361 non-null  bool
 24  MaritalStatus_M            18361 non-null  bool
 25  MaritalStatus_S            18361 non-null  bool
dtypes: bool(7), float64(7), object(12)
memory usage: 2.8+ MB
None

In [ ]:
# Drop unnecessary columns
df.drop(columns=['CustomerID', 'FirstName', 'LastName', 'AddressLine1', 'City', 'StateProvinceName', 'MiddleName',  'LastUpdated'], inplace=True)

In [ ]:
# Select numerical columns for PCA
numerical_cols_for_pca = df.select_dtypes(include=['float64', 'int64']).columns
X = df[numerical_cols_for_pca]

In [ ]:
print(X)

         Gender  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
0      0.988466       0.798603         1.892524             -0.594371
1      0.988466       0.798603         0.798389              1.163279
2     -1.011669      -1.252187         1.892524             -0.594371
3      0.988466       0.798603         0.798389              1.163279
4      0.988466       0.798603        -0.295746             -0.594371
...         ...            ...              ...                   ...
18356 -1.011669      -1.252187        -0.295746             -0.594371
18357 -1.011669      -1.252187         0.798389             -0.594371
18358 -1.011669      -1.252187         0.798389             -0.594371
18359 -1.011669      -1.252187        -1.389881             -0.594371
18360 -1.011669       0.798603         0.798389             -0.594371

       TotalChildren  YearlyIncome
0           0.161342      0.298555
1           1.239753      0.271180
2          -0.917069      0.444261
3           1.239753     -0.367401
4          -0.917069     -0.682765
...              ...           ...
18356       1.239753     -0.645321
18357      -0.917069     -0.383337
18358      -0.917069     -0.680973
18359      -0.917069      0.470006
18360      -0.917069      2.088996

[18361 rows x 6 columns]

In [ ]:
# Check for any remaining missing values
print(df.isnull().sum().sum())  # Should be 0 if all missing values are handled

0

In [ ]:
# Check the mean and standard deviation
print(df[numerical_cols_for_pca].mean())
print(df[numerical_cols_for_pca].std())  # Should be close to 1

Gender                 -9.829413e-17
HomeOwnerFlag           2.863687e-17
NumberCarsOwned        -3.637657e-17
NumberChildrenAtHome   -4.798611e-17
TotalChildren          -5.108199e-17
YearlyIncome            1.725952e-16
dtype: float64
Gender                  1.000027
HomeOwnerFlag           1.000027
NumberCarsOwned         1.000027
NumberChildrenAtHome    1.000027
TotalChildren           1.000027
YearlyIncome            1.000027
dtype: float64

# PCA

In [ ]:
import numpy as np
import pandas as pd

covariance_matrix = np.cov(df[numerical_cols], rowvar=False)

eigenvalues, eigenvectors = np.linalg.eigh(covariance_matrix)

sorted_indices = np.argsort(eigenvalues)[::-1]
sorted_eigenvalues = eigenvalues[sorted_indices]
sorted_eigenvectors = eigenvectors[:, sorted_indices]


cum_variance = np.cumsum(sorted_eigenvalues) / np.sum(sorted_eigenvalues)
print("Cumulative Variance :", cum_variance)

# threshold 95%
k = np.argmax(cum_variance >= 0.95) + 1
print(f"Number of components chosen (k): {k}")

principal_components = sorted_eigenvectors[:, :k]

df_pca = np.dot(df[numerical_cols], principal_components)

df_pca = pd.DataFrame(df_pca, columns=[f'PC{i+1}' for i in range(k)])

print(df_pca.head())

Cumulative Variance : [0.35810848 0.60414802 0.77066763 0.87320118 0.95169678 1.        ]
Number of components chosen (k): 5
        PC1       PC2       PC3       PC4       PC5
0 -0.838919  1.502465  1.021986  0.369546 -1.224593
1 -1.994248 -0.172553  0.940672  0.548760 -0.123340
2  0.926405  1.916773 -0.914402  1.445077 -0.209012
3 -1.807963 -0.569817  0.937365  0.734776 -0.506469
4  0.583287 -0.072840  0.983990 -0.706883 -0.609210

In [ ]:
print(df_pca.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PC1     18361 non-null  float64
 1   PC2     18361 non-null  float64
 2   PC3     18361 non-null  float64
 3   PC4     18361 non-null  float64
 4   PC5     18361 non-null  float64
dtypes: float64(5)
memory usage: 717.4 KB
None

# PCA Using Inbuilt Function

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
df_standardized = scaler.fit_transform(df[numerical_cols])

pca = PCA(n_components=0.95)  # retain 95%

pca.fit(df_standardized)

df_pca = pca.transform(df_standardized)

# Convert the result to a DataFrame for easier handling
df_pca = pd.DataFrame(df_pca, columns=[f'PC{i+1}' for i in range(df_pca.shape[1])])

# Display the first few rows of the transformed data
print(df_pca.head())

# # Additional outputs
# print("Explained Variance Ratio:", pca.explained_variance_ratio_)
# print("Total Variance Explained:", np.sum(pca.explained_variance_ratio_))
# print("Principal Components:\n", pca.components_)

        PC1       PC2       PC3       PC4       PC5
0  0.838919  1.502465 -1.021986  0.369546 -1.224593
1  1.994248 -0.172553 -0.940672  0.548760 -0.123340
2 -0.926405  1.916773  0.914402  1.445077 -0.209012
3  1.807963 -0.569817 -0.937365  0.734776 -0.506469
4 -0.583287 -0.072840 -0.983990 -0.706883 -0.609210